<?php

/**
 * @file
 * Drupal site-specific configuration file.
 *
 * IMPORTANT NOTE:
 * This file may have been set to read-only by the Drupal installation program.
 * If you make changes to this file, be sure to protect it again after making
 * your modifications. Failure to remove write permissions to this file is a
 * security risk.
 */

/**
 * Database settings:
 *
 * The $databases array specifies the database connection or
 * connections that Drupal may use.  Drupal is able to connect
 * to multiple databases, including multiple types of databases,
 * during the same request.
 *
 * Each database connection is specified as an array of settings,
 * similar to the following:
 * @code
 * array(
 *   'driver' => 'mysql',
 *   'database' => 'databasename',
 *   'username' => 'username',
 *   'password' => 'password',
 *   'host' => 'localhost',
 *   'port' => 3306,
 *   'prefix' => 'myprefix_',
 *   'collation' => 'utf8_general_ci',
 * );
 * @endcode
 */
$databases = array (
  'default' =>
  array (
    'default' =>
    array (
      'database' => '{{ databases.0.name }}',
      'username' => '{{ db_drupal_user }}',
      'password' => '{{ db_drupal_password }}',
      'host' => 'localhost',
      'port' => '',
      'driver' => 'mysql',
      'prefix' => '',
    ),
  ),
);

$databases['default']['default']['prefix']= array(
  'default' => '',
  '{{ databases.1.name }}_acl'                              => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_acl_cache'                        => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_acl_contact_cache'                => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_acl_entity_role'                  => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_action_log'                       => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_action_mapping'                   => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_action_schedule'                  => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_activity'                         => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_activity_contact'                 => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_address'                          => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_address_format'                   => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_batch'                            => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_cache'                            => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_campaign'                         => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_campaign_group'                   => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_case'                             => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_case_activity'                    => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_case_contact'                     => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_case_type'                        => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_component'                        => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_contact'                          => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_contact_type'                     => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_contribution'                     => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_contribution_page'                => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_contribution_product'             => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_contribution_recur'               => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_contribution_soft'                => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_contribution_widget'              => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_country'                          => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_county'                           => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_currency'                         => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_custom_field'                     => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_custom_group'                     => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_cxn'                              => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_dashboard'                        => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_dashboard_contact'                => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_dedupe_exception'                 => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_dedupe_rule'                      => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_dedupe_rule_group'                => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_discount'                         => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_domain'                           => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_email'                            => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_entity_batch'                     => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_entity_file'                      => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_entity_financial_account'         => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_entity_financial_trxn'            => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_entity_tag'                       => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_event'                            => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_event_carts'                      => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_events_in_carts'                  => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_extension'                        => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_file'                             => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_financial_account'                => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_financial_item'                   => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_financial_trxn'                   => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_financial_type'                   => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_grant'                            => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_group'                            => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_group_contact'                    => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_group_contact_cache'              => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_group_nesting'                    => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_group_organization'               => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_im'                               => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_install_canary'                   => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_job'                              => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_job_log'                          => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_line_item'                        => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_loc_block'                        => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_location_type'                    => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_log'                              => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_mail_settings'                    => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_mailing'                          => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_mailing_abtest'                   => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_mailing_bounce_pattern'           => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_mailing_bounce_type'              => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_mailing_component'                => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_mailing_event_bounce'             => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_mailing_event_confirm'            => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_mailing_event_delivered'          => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_mailing_event_forward'            => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_mailing_event_opened'             => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_mailing_event_queue'              => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_mailing_event_reply'              => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_mailing_event_subscribe'          => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_mailing_event_trackable_url_open' => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_mailing_event_unsubscribe'        => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_mailing_group'                    => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_mailing_job'                      => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_mailing_recipients'               => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_mailing_spool'                    => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_mailing_trackable_url'            => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_managed'                          => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_mapping'                          => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_mapping_field'                    => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_membership'                       => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_membership_block'                 => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_membership_log'                   => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_membership_payment'               => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_membership_status'                => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_membership_type'                  => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_menu'                             => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_navigation'                       => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_note'                             => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_openid'                           => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_option_group'                     => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_option_value'                     => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_participant'                      => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_participant_payment'              => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_participant_status_type'          => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_payment_processor'                => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_payment_processor_type'           => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_payment_token'                    => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_pcp'                              => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_pcp_block'                        => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_persistent'                       => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_phone'                            => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_pledge'                           => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_pledge_block'                     => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_pledge_payment'                   => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_preferences_date'                 => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_premiums'                         => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_premiums_product'                 => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_prevnext_cache'                   => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_price_field'                      => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_price_field_value'                => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_price_set'                        => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_price_set_entity'                 => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_print_label'                      => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_product'                          => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_queue_item'                       => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_recurring_entity'                 => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_relationship'                     => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_relationship_type'                => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_report_instance'                  => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_saved_search'                     => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_setting'                          => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_sms_provider'                     => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_state_province'                   => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_status_pref'                      => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_subscription_history'             => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_survey'                           => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_system_log'                       => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_tag'                              => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_tell_friend'                      => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_timezone'                         => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_uf_field'                         => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_uf_group'                         => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_uf_join'                          => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_uf_match'                         => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_value_constituent_information_1'  => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_value_donor_information_3'        => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_value_food_preference_2'          => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_view_case_activity_recent'        => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_view_case_activity_upcoming'      => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_website'                          => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_word_replacement'                 => '`{{ databases.1.name }}`.',
  '{{ databases.1.name }}_worldregion'                      => '`{{ databases.1.name }}`.',
);

/**
 * Access control for update.php script.
 *
 * If you are updating your Drupal installation using the update.php script but
 * are not logged in using either an account with the "Administer software
 * updates" permission or the site maintenance account (the account that was
 * created during installation), you will need to modify the access check
 * statement below. Change the FALSE to a TRUE to disable the access check.
 * After finishing the upgrade, be sure to open this file again and change the
 * TRUE back to a FALSE!
 */
$update_free_access = FALSE;

/**
 * Salt for one-time login links and cancel links, form tokens, etc.
 *
 * This variable will be set to a random value by the installer. All one-time
 * login links will be invalidated if the value is changed. Note that if your
 * site is deployed on a cluster of web servers, you must ensure that this
 * variable has the same value on each server. If this variable is empty, a hash
 * of the serialized database credentials will be used as a fallback salt.
 *
 * For enhanced security, you may set this variable to a value using the
 * contents of a file outside your docroot that is never saved together
 * with any backups of your Drupal files and database.
 *
 * Example:
 *   $drupal_hash_salt = file_get_contents('/home/example/salt.txt');
 *
 */
$drupal_hash_salt = '{{ drupal_hash_salt }}';

/**
 * PHP settings:
 *
 * To see what PHP settings are possible, including whether they can be set at
 * runtime (by using ini_set()), read the PHP documentation:
 * http://www.php.net/manual/ini.list.php
 * See drupal_environment_initialize() in includes/bootstrap.inc for required
 * runtime settings and the .htaccess file for non-runtime settings. Settings
 * defined there should not be duplicated here so as to avoid conflict issues.
 */

/**
 * Some distributions of Linux (most notably Debian) ship their PHP
 * installations with garbage collection (gc) disabled. Since Drupal depends on
 * PHP's garbage collection for clearing sessions, ensure that garbage
 * collection occurs by using the most common settings.
 */
ini_set('session.gc_probability', 1);
ini_set('session.gc_divisor', 100);

/**
 * Set session lifetime (in seconds), i.e. the time from the user's last visit
 * to the active session may be deleted by the session garbage collector. When
 * a session is deleted, authenticated users are logged out, and the contents
 * of the user's $_SESSION variable is discarded.
 */
ini_set('session.gc_maxlifetime', 200000);

/**
 * Set session cookie lifetime (in seconds), i.e. the time from the session is
 * created to the cookie expires, i.e. when the browser is expected to discard
 * the cookie. The value 0 means "until the browser is closed".
 */
ini_set('session.cookie_lifetime', 2000000);

/**
 * Fast 404 pages:
 *
 * Drupal can generate fully themed 404 pages. However, some of these responses
 * are for images or other resource files that are not displayed to the user.
 * This can waste bandwidth, and also generate server load.
 *
 * The options below return a simple, fast 404 page for URLs matching a
 * specific pattern:
 * - 404_fast_paths_exclude: A regular expression to match paths to exclude,
 *   such as images generated by image styles, or dynamically-resized images.
 *   The default pattern provided below also excludes the private file system.
 *   If you need to add more paths, you can add '|path' to the expression.
 * - 404_fast_paths: A regular expression to match paths that should return a
 *   simple 404 page, rather than the fully themed 404 page. If you don't have
 *   any aliases ending in htm or html you can add '|s?html?' to the expression.
 * - 404_fast_html: The html to return for simple 404 pages.
 *
 * Add leading hash signs if you would like to disable this functionality.
 */
$conf['404_fast_paths_exclude'] = '/\/(?:styles)|(?:system\/files)\//';
$conf['404_fast_paths'] = '/\.(?:txt|png|gif|jpe?g|css|js|ico|swf|flv|cgi|bat|pl|dll|exe|asp)$/i';
$conf['404_fast_html'] = '<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.0//EN" "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-1.dtd"><html xmlns="http://www.w3.org/1999/xhtml"><head><title>404 Not Found</title></head><body><h1>Not Found</h1><p>The requested URL "@path" was not found on this server.</p></body></html>';